<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
        <div class="page-header">
                <img src="{{ url_for('static', filename='bbt.jpg') }}" class="img-fluid" alt="Responsive image" height="600px" width="100%">
            </div>
      
    <table class="table table-white">
        <thead>
            <tr>
                <th scope="col">CarName</th>
                <th scope="col">Make</th>
                <th scope="col">Price</th>
                <th scope="col">Type</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}

        <tr>
            <td scope="row"> {{ item.CarName }} </td>
            <td scope="row"> {{ item.Make }} </td>
            <td scope="row"> {{ item.Price }} </td>
            <td scope="row"> {{ item.Type }} </td>
            <td scope="row"> {{ item.Year }} </td>
        </tr>
        {% endfor %}
        </tbody>    
    </table>

</body>
</html>